extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "My Page";
	- var pageDescription = "This is My Page";
	- var pageImage = "/img.jpg";

block head

block content
	section.section#welcome.welcome: include section/welcome

	section.section#platform.platform: include section/platform

	section.section#programm.programm: include section/programm

	section.section#license.license: include section/license

	section.section#command.command: include section/command

	section.section#feedback.feedback: include section/feedback

	section.section#vehicle.vehicle: include section/vehicle

	section.section#contact.contact: include section/contact

block append