footer.footer.is-light
	.inner
		.footer__bg: include ../../img/svg/footer_bg.svg
		.footer__content
			.footer__message Листайте вниз

			.footer__counter
				.footer__counter-current 1
				.footer__counter-all / 8

			.footer__control
				.footer__control-item.footer__control-item_prev: include ../../img/svg/arrow.svg
				.footer__control-item.footer__control-item_next: include ../../img/svg/arrow.svg