header.header
	.header__content
		.header__part
		.header__logo: img(src='img/logo.png')
		a(href='tel:+7000000000').header__phone: include ../../img/svg/contact_phone.svg
		.header__contact
			.header__contact-phones
				.header__contact-phones-ico: include ../../img/svg/contact_phone.svg
				.header__contact-phones-num +7(499) 390 99 82

				.header__contact-dropdown
					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_phone.svg
						.nav__contact-item-title Запись на занятия по телефонам
						.nav__contact-item-text
							.nav__contact-item-text +7(499)&nbsp;390&nbsp;99&nbsp;82
							.nav__contact-item-text +7(926)147&nbsp;54&nbsp;94
							.nav__contact-item-text +7(985)334&nbsp;23&nbsp;64

					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_clock.svg
						.nav__contact-item-title Время работы
						.nav__contact-item-text Мы работаем ежедневно по&nbsp;будням с&nbsp;10:00 до&nbsp;22:00 и&nbsp;по&nbsp;выходным с&nbsp;10:00 до&nbsp;20:00

					.nav__contact-item
						.nav__contact-item-text: .btn.btn_grad Заказать звонок


			.header__contact-email mtmoto@ya.ru

			.header__contact-soc
				.header__contact-soc-item: include ../../img/svg/ico_vk.svg
				.header__contact-soc-item: include ../../img/svg/ico_ig.svg
				.header__contact-soc-item: include ../../img/svg/ico_fb.svg
				.header__contact-soc-item: include ../../img/svg/ico_yt.svg

			.header__contact-cta: .btn.btn_grad(data-popup-open='.popup_order') Оставить заявку

	.header__nav
		.nav
			.nav__inner
				.nav__menu
					ul.nav__menu-list
						li: span.nav__menu-link(data-part="#welcome") Главная
						li: span.nav__menu-link(data-part="#platform", data-title="НАШИ ПЛОЩАДКИ") Наши площадки
						li: span.nav__menu-link(data-part="#programm", data-title="ПРОГРАММЫ ОБУЧЕНИЯ") Программы обучения
						li: span.nav__menu-link(data-part="#license", data-title="Как получить права") Как получить права
						li: span.nav__menu-link(data-part="#command", data-title="Наша команда") Наша команда
						li: span.nav__menu-link(data-part="#feedback", data-title="Отзывы") Отзывы
						li: span.nav__menu-link(data-part="#vehicle", data-title="Наши мотоциклы") Наши мотоциклы
						li: span.nav__menu-link(data-part="#contact", data-title="Контакты") Контакты

				.nav__contact
					.nav__contact-title Москва

					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_address.svg
						.nav__contact-item-title Адрес
						.nav__contact-item-text Фестивальная улица, 52
						ul.nav__contact-item-metro
							li метро Ховрино - 2.7 км #[a(href="#", target="_blank") Путь от метро]
							li метро Речной вокзал - 2.8 км #[a(href="#", target="_blank") Путь от метро]
							li метро Селигерская - 2.9 км #[a(href="#", target="_blank") Путь от метро]

					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_phone.svg
						.nav__contact-item-title Запись на занятия по телефонам
						.nav__contact-item-text
							span +7(499)&nbsp;390&nbsp;99&nbsp;82
							span /
							span +7(926)147&nbsp;54&nbsp;94
							span /
							span +7(985)334&nbsp;23&nbsp;64

					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_email.svg
						.nav__contact-item-title Электронная почта
						.nav__contact-item-text mtmoto@ya.ru

					.nav__contact-item
						.nav__contact-item-ico: include ../../img/svg/contact_clock.svg
						.nav__contact-item-title Время работы
						.nav__contact-item-text Мы работаем ежедневно по&nbsp;будням с&nbsp;10:00 до&nbsp;22:00 и&nbsp;по&nbsp;выходным с&nbsp;10:00 до&nbsp;20:00

					.nav__contact-footer
						.nav__contact-cta
							.btn.btn_grad(data-popup-open='.popup_order') Оставить заявку

						.nav__contact-soc
							.nav__contact-soc-item: include ../../img/svg/ico_vk.svg
							.nav__contact-soc-item: include ../../img/svg/ico_ig.svg
							.nav__contact-soc-item: include ../../img/svg/ico_fb.svg
							.nav__contact-soc-item: include ../../img/svg/ico_yt.svg

			.nav__handler
				include ../../img/svg/handler.svg
				i
