.popup.popup_order
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
				include ../../img/svg/handler.svg
				i
			.popup__content
				.popup__title Мы уже заводим#[br]#[span байк для тебя]
				.popup__form
					form.form
						.form__field
							.form__input
								input(type='text', name='name', placeholder='Ваше имя', data-require='true')
							.form__message

						.form__field
							.form__input
								input(type='tel', name='phone', placeholder='Телефон', data-require='true')
							.form__message

						.form__field.form__field_submit
							.form__input
								input(type='submit', value='Записаться').btn.btn_grad
								.footnote Заполни форму, и жми «Записаться», мы перезвоним в&nbsp;течении часа.

.popup.popup_info
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
				include ../../img/svg/handler.svg
				i
			.popup__content
				.popup__title Ты записан #[br]#[span мы скоро свяжемся с&nbsp;тобой]
				.popup__text
					.btn.btn_grad(data-popup-close='.popup') Закрыть

.popup.popup_feedback(data-popup-feedback-1)
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
				include ../../img/svg/handler.svg
				i
			.popup__content
				.popup__text На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-) Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень известной мотошколе, так там принцип простой: "вы катайтесь по площадке, а навыки сами придут". Тут не так. Инструктор постоянно следит за тобой (большой брат следит за тобой), и заметив твои косяки, подъедет к тебе (на мотоцикле), проведет разъяснительную беседу, покажет как надо, потом проконтролирует как ты проходишь упражнение с новыми знаниями. Если случай тяжелый, то вместо экзаменационных упражнений, дают упражнения на изолированную отработку навыков. Сомневаюсь, что ещё в какой-то мотошколе инструктор следит за твоим взглядом (я смотрю как ты смотришь), ведь взгляд - это главное на мотоцикле! Куда смотришь, туда едешь. Отдельно хочу сказать, что инструктора разные и заниматься приходиться со всеми. Там, где двое не заметят твой слабый косяк, другие захотят довести твои навыки до идеала. Это сильно помогает развиваться. Специальная благодарность Андрею, который курировал меня больше всех и Александру за фокусы (Управление мотоциклом будучи вторым номером)


.popup.popup_gallery(data-popup-gallery-1)
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
				include ../../img/svg/handler.svg
				i
			.popup__content
				.popup__photo
					.popup__photo-controls.slider__control
						.slider__control-prev.popup__photo-controls-arrow.popup__photo-controls-arrow_prev: include ../../img/svg/arrow.svg
						.slider__control-next.popup__photo-controls-arrow.popup__photo-controls-arrow_next: include ../../img/svg/arrow.svg
					.popup__photo-list.slider.slider_gallery
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')


.popup.popup_detail(data-popup-detail-1)
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
				include ../../img/svg/handler.svg
				i
			.popup__content

				.popup__title ПЛОЩАДКА "КОСИНО"

				.popup__photo
					.popup__photo-controls.slider__control
						.slider__control-prev.popup__photo-controls-arrow.popup__photo-controls-arrow_prev: include ../../img/svg/arrow.svg
						.slider__control-next.popup__photo-controls-arrow.popup__photo-controls-arrow_next: include ../../img/svg/arrow.svg
					.popup__photo-list.slider.slider_gallery
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')
						.popup__photo-item: img(src='img/pic/welcome_bg.jpg')
						.popup__photo-item: img(src='img/pic/coach.png')

				.popup__text На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-) Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень



			.popup__course

				.popup__title Программы обучения

				.popup__course-item
					.popup__course-inner
						.popup__course-title Курс А
						.popup__course-text Длительность обучения - #[span 6 часов]
						.popup__course-text Тип занятий - #[span индивидуальные]

						.popup__course-footer
							.popup__course-price
								.popup__course-price-title Стоимость ускоренного курса
								.popup__course-price-buy 23 000 руб. #[span * поэтапная оплата]
							.popup__course-btn
								.btn.btn_grad(data-goto='11') Подробнее
					.popup__course-image(style="background-image:url(img/pic/welcome_bg.jpg);")

				.popup__course-item
					.popup__course-image(style="background-image:url(img/pic/welcome_bg.jpg);")
					.popup__course-inner
						.popup__course-title Курс "Спортивная Мотоджимхана"
						.popup__course-text Длительность обучения - #[span 6 часов]
						.popup__course-text Тип занятий - #[span индивидуальные]

						.popup__course-footer
							.popup__course-price
								.popup__course-price-title Стоимость ускоренного курса
								.popup__course-price-buy 23 000 руб. #[span * поэтапная оплата]
							.popup__course-btn
								.btn.btn_grad(data-goto='22') Подробнее

				.popup__course-item
					.popup__course-inner
						.popup__course-title Курс А
						.popup__course-text Длительность обучения - #[span 6 часов]
						.popup__course-text Тип занятий - #[span индивидуальные]

						.popup__course-footer
							.popup__course-price
								.popup__course-price-title Стоимость ускоренного курса
								.popup__course-price-buy 23 000 руб. #[span * поэтапная оплата]
							.popup__course-btn
								.btn.btn_grad(data-goto='33') Подробнее
					.popup__course-image(style="background-image:url(img/pic/welcome_bg.jpg);")


			.popup__coach

				.popup__title ИНСТРУКТОРЫ

				.popup__coach-item
					.popup__coach-inner
						.popup__coach-photo: img(src="img/pic/coatch_0.png")
						.popup__coach-title Александр санченко
						.popup__coach-text Мастер по подготовке профессиональных водителей и спортсменов
						.popup__coach-btn
							.btn.btn_grad(data-goto='66') Подробнее о тренере
					.popup__coach-image(style="background-image:url(img/pic/welcome_bg.jpg);")

				.popup__coach-item
					.popup__coach-image(style="background-image:url(img/pic/welcome_bg.jpg);")
					.popup__coach-inner
						.popup__coach-photo: img(src="img/pic/coatch_0.png")
						.popup__coach-title Александр санченко
						.popup__coach-text Мастер по подготовке профессиональных водителей и спортсменов
						.popup__coach-btn
							.btn.btn_grad(data-goto='88') Подробнее о тренере


			.popup__form

				form.form
					.popup__title Записаться #[span на&nbsp;занятие и&nbsp;ещё какойто ткст на 2]

					.form__wrap
						.form__field
							.form__input
								input(type='text', name='name', placeholder='Ваше имя', data-require='true')
							.form__message

						.form__field
							.form__input
								input(type='tel', name='phone', placeholder='Телефон', data-require='true')
							.form__message

						.form__field.form__field_submit
							.form__input
								input(type='submit', value='Записаться').btn.btn_grad
								.footnote Заполни форму, и жми «Записаться», мы перезвоним в&nbsp;течении часа.
