
mixin command(title, photo)
	.command__item(data-slide-id= id)
		.command__item-picture(style="background-image:url(img/pic/coach.png);"): .command__item-picture-age +7
		.command__item-info
			.command__item-head
				.command__item-photo: img(src= photo)
				.command__item-title= title
			.command__item-list
				ul
					li Мастер по подготовке профессиональных водителей и спортсменов
					li Тренер, пилот команды MTmotosport
					li Родился - Москва 1985 г.
					li Свидетельство инструктора: серия СМ № 000779

			.command__item-course
				.command__item-course-title Достижения в мотоспорте:
				.command__item-course-list

					.command__item-course-item
						.command__item-course-image: img(src='img/pic/medal_bronze.png')
						.command__item-course-name 2016 г.
						.command__item-course-text Чемпион России по минимотардам в классе 160 ссм.

					.command__item-course-item
						.command__item-course-image: img(src='img/pic/cup_2.png')
						.command__item-course-name 2016 г.
						.command__item-course-text Победитель White Cup

					.command__item-course-item
						.command__item-course-image: img(src='img/pic/cup_1.png')
						.command__item-course-name 2016 г.
						.command__item-course-text Победитель RSBK "Next level"

					.command__item-course-item
						.command__item-course-image: img(src='img/pic/medal_silver.png')
						.command__item-course-name 2012 г.
						.command__item-course-text Серебряный призер " HELL ENERGY DRING"

					.command__item-course-item
						.command__item-course-image: img(src='img/pic/medal_gold.png')
						.command__item-course-name 2012 г.
						.command__item-course-text Серебряный призер " HELL ENERGY DRING"

			.command__item-controls
				.btn.btn_white(data-popup-open='[data-popup-gallery-1]') Галерея
				.btn.btn_grad Записаться к&nbsp;инструктору



.inner
	.command__head
		.command__title Наша команда
		.command__info Команда MTmotosport образовалась 15 апреля 2011г. для развития мотоспорта в России и передачи опыта начинающим мотоциклистам. Пилоты команды успешно выступают в различных гоночных сериях, в том числе в Чемпионате России. Так же пилоты команды преподают вождение в мотошколе MTmotosport.

	.command__content
		.command__tabs
			.command__tabs-item(data-tab-slide='0').is-active
				.command__tabs-photo: img(src="img/pic/coatch_0.png", align='Александр Санченко')
				.command__tabs-info
					.command__tabs-title Александр Санченко
					.command__tabs-text Мастер по подготовке профессиональных водителей и спортсменов
			.command__tabs-item(data-tab-slide='1')
				.command__tabs-photo: img(src="img/pic/coatch_1.png", align='Андрей Карузин')
				.command__tabs-info
					.command__tabs-title Андрей Карузин
					.command__tabs-text Мастер по подготовке профессиональных водителей
			.command__tabs-item(data-tab-slide='2')
				.command__tabs-photo: img(src="img/pic/coatch_2.png", align='Алексей Жуков')
				.command__tabs-info
					.command__tabs-title Алексей Жуков
					.command__tabs-text Мастер подготовке профессиональных водителей и спортсменов
			.command__tabs-item(data-tab-slide='3')
				.command__tabs-photo: img(src="img/pic/coatch_3.png", align='Анатолий Юнцевич')
				.command__tabs-info
					.command__tabs-title Анатолий Юнцевич
					.command__tabs-text Мастер по подготовке профессиональных водителей к городу и туризму
			.command__tabs-item(data-tab-slide='4')
				.command__tabs-photo: img(src="img/pic/coatch_4.png", align='Владислав Мухин')
				.command__tabs-info
					.command__tabs-title Владислав Мухин
					.command__tabs-text Мастер по подготовке профессиональных водителей к городу и туризму


		.command__control.slider__control
			.slider__control-prev.command__control-arrow.command__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.command__control-arrow.command__control-arrow_next: include ../../img/svg/arrow.svg

		.command__list.slider.slider_tab

			+command('Александр Санченко', 'img/pic/coatch_0.png', id='55')
			+command('Андрей Карузин', 'img/pic/coatch_1.png', id='66')
			+command('Алексей Жуков', 'img/pic/coatch_2.png', id='77')
			+command('Анатолий Юнцевич', 'img/pic/coatch_3.png', id='88')
			+command('Владислав Мухин', 'img/pic/coatch_4.png', id='99')





