
.inner
	.contact__title Контакты

	.contact__content
		.contact__control.slider__control
			.slider__control-prev.contact__control-arrow.contact__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.contact__control-arrow.contact__control-arrow_next: include ../../img/svg/arrow.svg

		.contact__list.slider.slider_map
			.contact__item
				.contact__map
					.map(data-zoom="15", data-marker='[55.8620, 37.5122]', data-center='[55.8670, 37.513]')
					.contact__map-btn: .btn.btn_white Открыть в Яндекс.Картах
				.contact__info
					.contact__info-title Москва

					.js-scrollbar
						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_address.svg
							.contact__info-item-title Адрес
							.contact__info-item-text Фестивальная улица, 52
							ul.contact__info-item-metro
								li метро Ховрино - 2.7 км #[a(href="#", target="_blank") Путь от метро]
								li метро Речной вокзал - 2.8 км #[a(href="#", target="_blank") Путь от метро]
								li метро Селигерская - 2.9 км #[a(href="#", target="_blank") Путь от метро]

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_phone.svg
							.contact__info-item-title Запись на занятия по телефонам
							.contact__info-item-text
								span +7(499)&nbsp;390&nbsp;99&nbsp;82
								span /
								span +7(926)147&nbsp;54&nbsp;94
								span /
								span +7(985)334&nbsp;23&nbsp;64

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_email.svg
							.contact__info-item-title Электронная почта
							.contact__info-item-text mtmoto@ya.ru

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_clock.svg
							.contact__info-item-title Время работы
						.contact__info-item-text Мы работаем ежедневно по&nbsp;будням с&nbsp;10:00 до&nbsp;22:00 и&nbsp;по&nbsp;выходным с&nbsp;10:00 до&nbsp;20:00

			.contact__item
				.contact__map
					.map(data-zoom="15", data-marker='[55.864945, 37.512265]', data-center='[55.8670, 37.513]')
					.contact__map-btn: .btn.btn_white Открыть в Яндекс.Картах
				.contact__info
					.contact__info-title Москва

					.js-scrollbar
						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_address.svg
							.contact__info-item-title Адрес
							.contact__info-item-text Фестивальная улица, 52
							ul.contact__info-item-metro
								li метро Ховрино - 2.7 км #[a(href="#", target="_blank") Путь от метро]
								li метро Речной вокзал - 2.8 км #[a(href="#", target="_blank") Путь от метро]
								li метро Селигерская - 2.9 км #[a(href="#", target="_blank") Путь от метро]

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_phone.svg
							.contact__info-item-title Запись на занятия по телефонам
							.contact__info-item-text
								span +7(499)&nbsp;390&nbsp;99&nbsp;82
								span /
								span +7(926)147&nbsp;54&nbsp;94
								span /
								span +7(985)334&nbsp;23&nbsp;64

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_email.svg
							.contact__info-item-title Электронная почта
							.contact__info-item-text mtmoto@ya.ru

						.contact__info-item
							.contact__info-item-ico: include ../../img/svg/contact_clock.svg
							.contact__info-item-title Время работы
							.contact__info-item-text Мы работаем ежедневно по&nbsp;будням с&nbsp;10:00 до&nbsp;22:00 и&nbsp;по&nbsp;выходным с&nbsp;10:00 до&nbsp;20:00
