
.inner
	.feedback__title Отзывы

	.feedback__content
		.feedback__control.slider__control
			.slider__control-prev.feedback__control-arrow.feedback__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.feedback__control-arrow.feedback__control-arrow_next: include ../../img/svg/arrow.svg

		.feedback__list.slider.slider_cards
			.feedback__item
				.feedback__item-info
					.feedback__item-info-photo: img(src="img/pic/coatch_0.png", align='Александр Санченко')
					.feedback__item-info-name Александр санченко
					.feedback__item-info-title Курс "Продвинутый"
					.feedback__item-info-text Длительность обучения - 6 часов
				.feedback__item-body.js-scrollbar
					.feedback__item-body-title Сегодня сдал экзамен!
					.feedback__item-body-text
						p На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-)
						p Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень известной мотошколе, так там принцип простой: "вы катайтесь по площадке, а навыки сами придут". Тут не так.
						p Инструктор постоянно следит за тобой (большой брат следит за тобой), и заметив твои косяки, подъедет к тебе (на мотоцикле), проведет разъяснительную беседу, покажет как надо, потом проконтролирует как ты проходишь упражнение с новыми знаниями. Если случай тяжелый, то вместо экзаменационных упражнений, дают упражнения на изолированную отработку навыков.
						p Сомневаюсь, что ещё в какой-то мотошколе инструктор следит за твоим взглядом (я смотрю как ты смотришь), ведь взгляд - это главное на мотоцикле! Куда смотришь, туда едешь. Отдельно хочу сказать, что инструктора разные и заниматься приходиться со всеми. Там, где двое не заметят твой слабый косяк, другие захотят довести твои навыки до идеала. Это сильно помогает развиваться. Специальная благодарность Андрею, который курировал меня больше всех и Александру за фокусы (Управление мотоциклом будучи вторым номером)
				.feedback__item-btn: .btn.btn_white(data-popup-open='[data-popup-feedback-1]') Читать весь отзыв
				.feedback__item-date 10.07.2018

			.feedback__item.feedback__item_odd
				.feedback__item-info
					.feedback__item-info-name Александр санченко
					.feedback__item-info-title Курс "Продвинутый"
					.feedback__item-info-text Длительность обучения - 6 часов
				.feedback__item-body.js-scrollbar
					.feedback__item-body-title Сегодня сдал экзамен!
					.feedback__item-body-text
						p На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-)
						p Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень известной мотошколе, так там принцип простой: "вы катайтесь по площадке, а навыки сами придут". Тут не так.
						p Инструктор постоянно следит за тобой (большой брат следит за тобой), и заметив твои косяки, подъедет к тебе (на мотоцикле), проведет разъяснительную беседу, покажет как надо, потом проконтролирует как ты проходишь упражнение с новыми знаниями. Если случай тяжелый, то вместо экзаменационных упражнений, дают упражнения на изолированную отработку навыков.
						p Сомневаюсь, что ещё в какой-то мотошколе инструктор следит за твоим взглядом (я смотрю как ты смотришь), ведь взгляд - это главное на мотоцикле! Куда смотришь, туда едешь. Отдельно хочу сказать, что инструктора разные и заниматься приходиться со всеми. Там, где двое не заметят твой слабый косяк, другие захотят довести твои навыки до идеала. Это сильно помогает развиваться. Специальная благодарность Андрею, который курировал меня больше всех и Александру за фокусы (Управление мотоциклом будучи вторым номером)
				.feedback__item-btn: .btn.btn_white Читать весь отзыв
				.feedback__item-date 10.07.2018

			.feedback__item
				.feedback__item-info
					.feedback__item-info-photo: img(src="img/pic/coatch_0.png", align='Александр Санченко')
					.feedback__item-info-name Александр санченко
					.feedback__item-info-title Курс "Продвинутый"
					.feedback__item-info-text Длительность обучения - 6 часов
				.feedback__item-body.js-scrollbar
					.feedback__item-body-title Сегодня сдал экзамен!
					.feedback__item-body-text
						p На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-)
						p Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень известной мотошколе, так там принцип простой: "вы катайтесь по площадке, а навыки сами придут". Тут не так.
						p Инструктор постоянно следит за тобой (большой брат следит за тобой), и заметив твои косяки, подъедет к тебе (на мотоцикле), проведет разъяснительную беседу, покажет как надо, потом проконтролирует как ты проходишь упражнение с новыми знаниями. Если случай тяжелый, то вместо экзаменационных упражнений, дают упражнения на изолированную отработку навыков.
						p Сомневаюсь, что ещё в какой-то мотошколе инструктор следит за твоим взглядом (я смотрю как ты смотришь), ведь взгляд - это главное на мотоцикле! Куда смотришь, туда едешь. Отдельно хочу сказать, что инструктора разные и заниматься приходиться со всеми. Там, где двое не заметят твой слабый косяк, другие захотят довести твои навыки до идеала. Это сильно помогает развиваться. Специальная благодарность Андрею, который курировал меня больше всех и Александру за фокусы (Управление мотоциклом будучи вторым номером)
				.feedback__item-btn: .btn.btn_white Читать весь отзыв
				.feedback__item-date 10.07.2018

			.feedback__item.feedback__item_odd
				.feedback__item-info
					.feedback__item-info-photo: img(src="img/pic/coatch_0.png", align='Александр Санченко')
					.feedback__item-info-name Александр санченко
					.feedback__item-info-title Курс "Продвинутый"
					.feedback__item-info-text Длительность обучения - 6 часов
				.feedback__item-body.js-scrollbar
					.feedback__item-body-title Сегодня сдал экзамен!
					.feedback__item-body-text
						p На учебной площадке все упражнения сложнее, чем на экзамене в ГАИ, из-за чего происходит компенсация нервов. Руки тресутся, а упражнения проще, чем на учебке. Но на учебке инструктора дресируют нас до тех пор, пока мы не сможем спокойно проходить утяжеленные упражнения :-)
						p Наблюдая в ГАИ как сдают участники других мотошкол, возникает вопрос: "Их там вообще учили?". Уровень студентов школы mtmorosport на пару голов выше!!! Это видно невооруженным взглядом. К сравнению, наблюдал как друг учится в одной очень известной мотошколе, так там принцип простой: "вы катайтесь по площадке, а навыки сами придут". Тут не так.
						p Инструктор постоянно следит за тобой (большой брат следит за тобой), и заметив твои косяки, подъедет к тебе (на мотоцикле), проведет разъяснительную беседу, покажет как надо, потом проконтролирует как ты проходишь упражнение с новыми знаниями. Если случай тяжелый, то вместо экзаменационных упражнений, дают упражнения на изолированную отработку навыков.
						p Сомневаюсь, что ещё в какой-то мотошколе инструктор следит за твоим взглядом (я смотрю как ты смотришь), ведь взгляд - это главное на мотоцикле! Куда смотришь, туда едешь. Отдельно хочу сказать, что инструктора разные и заниматься приходиться со всеми. Там, где двое не заметят твой слабый косяк, другие захотят довести твои навыки до идеала. Это сильно помогает развиваться. Специальная благодарность Андрею, который курировал меня больше всех и Александру за фокусы (Управление мотоциклом будучи вторым номером)
				.feedback__item-btn: .btn.btn_white Читать весь отзыв
				.feedback__item-date 10.07.2018


