
.inner
	.license__title КАК ПОЛУЧИТЬ ПРАВА

	.license__content
		.license__control.slider__control
			.slider__control-prev.license__control-arrow.license__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.license__control-arrow.license__control-arrow_next: include ../../img/svg/arrow.svg

		.license__list.slider.slider_lisence
			.license__item
				.license__item-part #[span 1] Теория
				.license__item-image: img(src='img/pic/course_theory.png')
				.license__item-title Запишитесь на практические занятия
				.license__item-text по вождению и на теоретические занятия по ПДД. Если вы не хотите посещать теоретическую часть, воспользуйтесь

			.license__item.license__item_odd
				.license__item-part #[span 2] Документы
				.license__item-image: img(src='img/pic/course_documents.png')
				.license__item-title Подайте документы на регистрацию
				.license__item-text
					ul
						li копия паспорта
						li копия водительского удостоверения (для тех у кого есть
						li фотография 3х4 (для начала обучения не требуется)
						li медицинская справка (можно сделать у нас)

			.license__item
				.license__item-part #[span 3] Обучение
				.license__item-image: img(src='img/pic/course_workout.png')
				.license__item-title Пройдите индивидуальное обучение
				.license__item-text по вождению и на #[a(href='#') теоретические занятия] по ПДД. Если вы не хотите посещать теоретическую часть, воспользуйтесь

			.license__item.license__item_odd
				.license__item-part #[span 4] Экзамен
				.license__item-image: img(src='img/pic/course_exam.png')
				.license__item-title Сдайте экзамен в ГИБДД
				.license__item-text при сопровождении вашего инструктора, на том мотоцикле, к которому привыкли во время обучения в нашей школе. Адрес ГИБДД: Б. Косинская 1 Б (соседняя с нашей площадка)

			.license__item
				.license__item-part #[span 5] Права
				.license__item-image: img(src='img/pic/course_workout.png')
				.license__item-title Получите категорию "А"
				.license__item-text копия паспорта; копия водительского удостоверения (для тех у кого есть); фотография 3х4 (для начала обучения не требуется); медицинская справка (можно сделать у нас)
