.inner
	.platform__title НАШИ ПЛОЩАДКИ

	.platform__content
		.platform__control.slider__control
			.slider__control-prev.platform__control-arrow.platform__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.platform__control-arrow.platform__control-arrow_next: include ../../img/svg/arrow.svg

		.platform__list.slider.slider_sing
			.platform__item
				.platform__item-map
					.map(data-zoom="15", data-center='[55.708531, 37.849964]', data-poly='[[55.709464, 37.849872],[55.708859, 37.851866],[55.708381, 37.851510],[55.709078, 37.849390]]')
				.platform__item-info
					.platform__item-info-title Площадка "Косино"
					.platform__item-info-address Ул. Б. Косинская д.1 Б (под эстакадой)
					.platform__item-info-text Расстояние от метро "Лермонтовский проспект" - 1 км. (10 минут пешком)
					.platform__item-info-text Расстояние от ж/д станции "Косино" - 0.5 км (5 минут пешком)
				.platform__item-control
					.btn.btn_grad(data-popup-open='[data-popup-detail-1]') Курсы и инструкторы площадки
					.btn.btn_white Открыть в Яндекс.Картах

			.platform__item
				.platform__item-map
					.map(data-zoom="15", data-center='[55.869734, 37.507643]', data-poly='[[55.869645, 37.506961],[55.868894, 37.508658],[55.868611, 37.508243],[55.869402, 37.506496]]')
				.platform__item-info
					.platform__item-info-title Площадка "ХОРВИНО"
					.platform__item-info-address Ул. Зеленоградская д.18 А (под эстакадой)
					.platform__item-info-text Расстояние от платформы "Ховрино" - 0.3 км. (3 минуты пешком)
				.platform__item-control
					.btn.btn_grad(data-popup-open='[data-popup-detail-1]') Курсы и инструкторы площадки
					.btn.btn_white Открыть в Яндекс.Картах