
mixin program(title, id)
	.programm__item(data-slide-id= id)
		.programm__item-picture(style="background-image:url(img/pic/welcome_bg.jpg);"): .programm__item-picture-age +7
		.programm__item-info
			.programm__item-title= title
			.programm__item-list
				ul
					li Длительность обучения - 1 месяц
					li Цель - получение базовых навыков вождения мотоцикла и открытие категории "А"
					li Занятия проходят на технике: KTM Duke 200, Honda FTR
					li Мотоцикл, экипировка и необходимое оборудование включены в стоимость курса.
			.programm__item-course
				.programm__item-course-title Что входит в курс:
				.programm__item-course-list

					.programm__item-course-item
						.programm__item-course-image: img(src='img/pic/course_workout.png')
						.programm__item-course-name Тренировки
						.programm__item-course-text 16 часов тренировок на мотоцикле, в удобное для вас время

					.programm__item-course-item
						.programm__item-course-image: img(src='img/pic/course_documents.png')
						.programm__item-course-name Документы
						.programm__item-course-text Оформление пакета документов для получения прав

					.programm__item-course-item
						.programm__item-course-image: img(src='img/pic/course_theory.png')
						.programm__item-course-name Теория
						.programm__item-course-text Групповые занятия по теоретической части (ПДД)

					.programm__item-course-item
						.programm__item-course-image: img(src='img/pic/course_exam.png')
						.programm__item-course-name Экзамен
						.programm__item-course-text Организованный экзамен в ГИБДД на наших мотоциклах

					.programm__item-course-item
						.programm__item-course-image: img(src='img/pic/course_equipment.png')
						.programm__item-course-name Экипировка
						.programm__item-course-text Консультации по выбору мотоцикла, экипировки и пр.

			.programm__item-price
				.programm__item-price-item
					.programm__item-price-name Стоимость ускоренного курса
					.programm__item-price-pay 23 000 руб.
					.programm__item-price-footnote * поэтапная оплата

				.programm__item-price-item
					.programm__item-price-name Стоимость расширенного курса
					.programm__item-price-pay 29 000 руб.
					.programm__item-price-footnote * поэтапная оплата

				.programm__item-controls
					.btn.btn_white(data-popup-open='[data-popup-gallery-1]') Галерея
					.btn.btn_grad(data-popup-open='.popup_order') Записаться на курс



.inner
	.programm__title ПРОГРАММЫ ОБУЧЕНИЯ

	.programm__content
		.programm__tabs
			.programm__tabs-item(data-tab-slide='0').is-active
				.programm__tabs-num 1
				.programm__tabs-info
					.programm__tabs-title Курс А
					.programm__tabs-text Длительность обучения - #[span 1 месяц]
					.programm__tabs-text Тип занятий - #[span групповые, индивидуальные]
			.programm__tabs-item(data-tab-slide='1')
				.programm__tabs-num 2
				.programm__tabs-info
					.programm__tabs-title Курс "Продвинутый"
					.programm__tabs-text Длительность обучения - #[span 6 часов]
					.programm__tabs-text Тип занятий - #[span индивидуальны е]
			.programm__tabs-item(data-tab-slide='2')
				.programm__tabs-num 3
				.programm__tabs-info
					.programm__tabs-title Курс "Спортивная Мотоджимхана"
					.programm__tabs-text Длительность обучения - #[span 6 часов]
					.programm__tabs-text Тип занятий - #[span индивидуальные]
			.programm__tabs-item(data-tab-slide='3')
				.programm__tabs-num 4
				.programm__tabs-info
					.programm__tabs-title Курс "Твой Город"
					.programm__tabs-text Длительность обучения - #[span 6 часов]
					.programm__tabs-text Тип занятий - #[span индивидуальные]


		.programm__control.slider__control
			.slider__control-prev.programm__control-arrow.programm__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.programm__control-arrow.programm__control-arrow_next: include ../../img/svg/arrow.svg

		.programm__list.slider.slider_tab

			+program('1.Курс А', id='11')
			+program('2.Курс "Продвинутый"', id='22')
			+program('3.Курс "Спортивная Мотоджимхана"', id='33')
			+program('4.Курс "Твой Город"', id='44')





