mixin vehicle(title, image)
	.vehicle__item-title= title
	.vehicle__item-text Для сдачи экзамена на категорию "А" и курса PRO
	.vehicle__item-image: img(src= image)
	.vehicle__item-info
		ul
			li
				.vehicle__item-info-title 200 cm³
				.vehicle__item-info-text Рабочий объем
			li
				.vehicle__item-info-title 26 л.с. (19 кВт)
				.vehicle__item-info-text Мощность
			li
				.vehicle__item-info-title 1 367±15 mm
				.vehicle__item-info-text Колесная База
			li
				.vehicle__item-info-title 170 mm
				.vehicle__item-info-text Дорожный просвет



.inner
	.vehicle__title Отзывы

	.vehicle__content
		.vehicle__control.slider__control
			.slider__control-prev.vehicle__control-arrow.vehicle__control-arrow_prev: include ../../img/svg/arrow.svg
			.slider__control-next.vehicle__control-arrow.vehicle__control-arrow_next: include ../../img/svg/arrow.svg

		.vehicle__list.slider.slider_cards
			.vehicle__item
				+vehicle('KTM Dke 200', 'img/pic/vehicle_1.png')
			.vehicle__item.vehicle__item_odd
				+vehicle('Honda VTR 250', 'img/pic/vehicle_2.png')
			.vehicle__item
				+vehicle('KTM Dke 200', 'img/pic/vehicle_3.png')
			.vehicle__item.vehicle__item_odd
				+vehicle('Honda VTR 250', 'img/pic/vehicle_1.png')
