.inner
	.welcome__subtitle Мотошкола в Москве
	.welcome__title Управляй легко, управляй грамотно!
	.welcome__btn: .btn.btn_grad(data-popup-open='.popup_order') Записаться на занятия
	.welcome__footnote Сопровождаем учеников от начала обучения, до получения прав и приобретения байка!



