
@mixin {{spritesName}}Image{
    background-image: url("{{{spritesURL}}}");
    background-repeat: no-repeat;
}

{{#shapes}}
@mixin {{name}}($type: false) {
    @if ( $type == true ){
        @include {{spritesName}}Image;
    }
    background-position: {{position.absolute.xy}};
    width: {{width.outer}}px;
    height: {{height.outer}}px;
}
{{/shapes}}


{{#hidden}}
//https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md
{{/hidden}}